.mobile-collage {
    display: none;
}

.collage-wrapper {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  margin-top: 55px;
}

.collage-wrapper h1{
  text-align: center;
  font-size: 50px;
}

#color1{
  color:#FEA500;
}
#color2{
  color:#612D75;
}

.my-masonry-grid {
  display: flex;
  margin-left: -10px;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 10px;
  background-clip: padding-box;
}

.collage-img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

@media (hover: hover) {
  .collage-img:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
}

@media (max-width: 1024px) {
  .collage-wrapper{
    margin-top: 30px;
  }
  .collage-wrapper h1{
  font-size: 25px;
}
}

@media (max-width: 768px) {
  .collage-wrapper{
    margin-top: 30px;
  }
  .collage-wrapper h1{
  font-size: 25px;
}
}

@media (max-width: 768px) {
  .swiper-pagination-bullet {
    background: #612D75;
    opacity: 0.5;
  }

  .swiper-pagination-bullet-active {
    background: #FEA500;
    opacity: 1;
  }
}


@media (max-width: 480px) {
  .collage-wrapper{
    margin-top: 30px;
  }
  .collage-wrapper h1{
  font-size: 25px;
}
}


/* Hide mobile or desktop collage based on screen size */
@media (max-width: 768px) {
  .desktop-collage {
    display: none;
  }

  .mobile-collage {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .mobile-collage .swiper {
    width: 100%;
    height: auto;
  }

  .mobile-collage .collage-img {
    width: 100%;
    height: 250px; /* Fixed height */
    object-fit: cover; /* Ensures consistent crop */
    border-radius: 10px;
    cursor: pointer;
  }
}

