.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  padding: 10px;
}

.modal-content img {
  max-width: 100%;
  max-height: 80vh;
  display: block;
}

.modal-close {
  position: absolute;
  top: 5px;
  right: 10px;
  background: transparent;
  font-size: 24px;
  border: none;
  cursor: pointer;
}
