#navLogo{
    margin: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

#navLogo ul{
    display: flex;
    margin-right: 50px;
}

#navLogo ul li{
    list-style-type: none;
    margin-left: 70px;
    font-size: 21px;
    font-weight: 600;
}

.pgLogo{
    width:190px;
    margin-left: 50px;
}